:root {
  --logo-header-color: #000000;
  --text-on-dark-color: #ffffff;
  --primary-h-color: #212121;
  --accent-color: #2196f3;
  --header-border: #ececec;
  --primary-text-color: #757575;
  --background-main-color: #ffffff;
  --background-secondary-color: #2f303a;
  --background-active-button: #188ce8;
  --background-filter-color: #f5f4fa;
  --background-crew-color: #f5f4fa;
  --borderline-card-color: #eeeeee;
  --filter-text: #212121;
  --icon: #afb1b8;
  --speciality-box: #2f303acc;
  --product-overlay-color: #2196f3e5;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 30px;
  --items: 4;
  --time-change: 250ms;
}
